<div class ="container">
  <h1 class="text-center">New Game</h1>
  <div class="row">
    <% @letters.each do |letter| %>
    <div class="col-sm-6">
      <div class="card bg-primary">
        <h3 class="card-title"> <%= letter %></h3>
      </div>
    </div>
    <% end %>
  </div>
  <p class="form-prefix">What is the longest word you can find?</p>

  <form action="/score" method="POST" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <div class="input-group">
      <input type="text" name="word" class="form-control">
      <input type="submit" value="Play" class="btn btn-primary">
    </div>
  </form>
</div>
